yarn-error.log
npm-debug.log
node_modules
coverage
.nyc_output
.DS_Store

.editorconfig
.travis.yml
.eslintrc.json
.huskyrc.json
.size-limit.js
.lintstagedrc
package-lock.json
pnpm-lock.yaml
yarn.lock

*.test.js
