yarn-error.log
npm-debug.log
node_modules
coverage
.husky
.github
.nyc_output
.DS_Store

.editorconfig
.eslintrc.json
.size-limit.js
.lintstagedrc
.c8rc.json
ava.config.cjs
package-lock.json
pnpm-lock.yaml
yarn.lock

*.test.js
